# Ignore everything
*

# But not these files...
!.gitignore
!.gitattributes
!src/**
!gradle/**
!build.gradle
!gradlew
!gradlew.bat

# ...even if they are in subdirectories
!*/

#eclipse want that
/bin/
